/* GRUPO FONTS */

body{
    font-family: 'Oswald', sans-serif;
    background-color: rgba(31, 31, 31, 0.568);
    background-image: linear-gradient( 
0deg
 ,rgb(211, 0, 211) 24%, rgb(8 156 156) 66%, rgb(77 134 67) 67%);
margin: auto;
    
}

#topo h1,p{
    padding: 1px;
    border: 2px solid black;
    padding: 20px;
    text-align: center;
    letter-spacing: 2px;
    border-radius: 60px;
    font-style: italic;
    font-family: 'Nunito', sans-serif;
    
}



h2{
    position: relative;
    margin-left: 80% ;
    border-top: solid;
    border-color: darkblue;
    border-width: 2px;
    overflow: auto;    
}


a:hover{
    font-size: large;
    letter-spacing: 2px;
    color: #ced4e7;
    height: 0px;

    
    
}




i:hover{
    color: alice;
}


/* 
font-family: 'Asap', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Oswald', sans-serif; */





/* 

* ul{
list-style: none;
color: red;
}
a{
    text-decoration: none;
    color: red;
} */

/* css no form */

form{
    font-size: 16px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

fieldset{
    background-image: linear-gradient(124deg, rgba(255, 255, 255, 0.226), rgba(255, 255, 255, 0.616));
}

form input{
    display: block;
    margin: 1% 0 ;
    border-radius: 5px;
    border: solid 2px rgb(180, 180, 180);
    font-size: 1em;
}

form input[type=text], input[type=Tel], input[type=email]{
    height: 40px;
    max-width: 100%;
    width: 100%;
    ;
}

form input[type=submit], input[type=reset]{
    background-image: linear-gradient(25deg, #5483df, #0269fb);
    display: inline;
    color: white;
    height: 35px;
    margin: 7px 13px 3px 12%;
    max-width: 30%;
    width: 100%;
}


/* css no form */