body{
    background-color: rgb(235, 204, 210);
}
ul{
    list-style: square;
    color: red;
}
a{
    text-decoration: none;
    color: red;
}

/*CSS table*/
table{
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
    font-size: xx-large;
}

table td, th{
    border: 2px solid black;
}

table tr:nth-child(odd){
    background-color: rgb(201, 201, 201);
}

table tr:nth-child(even){
    background-color: rgb(129, 129, 129);
}

table tr:hover{
    background-color: rgba(27, 40, 214, 0.582);
}