/*
    GRUPO FONTES
*/
    body{
        font-family: 'Oswald', sans-serif;
    }

    #topo h1{
        font-family: 'Nunito', sans-serif;
        border: 2px solid #000000;
        text-align: center;
    }
    #topo p{
        border: 2px solid #000000;
        letter-spacing: 2px;
        font-style: italic;
    }
    #topo a{
        border: 2px solid #000000;
    }
    .texto-css{
     color: #ff0000;
     font-weight: 700;
     text-decoration: underline;
    }

/*
    font-family: 'Asap', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Oswald', sans-serif;

    GRUPO FONTES
*/

/*
    GRUPO CORES
*/
body{
    background-color: #ffa70054;
    /*background-color: rgba(0, 255, 0, 0.55);*/
}
a{
    text-decoration: none;
    color: #ED145B;
}



/*
    GRUPO CORES
*/





/*
    PSEUDO CLASSES
*/
a:hover{
    color: #0000FF;
    border: #ff0000 solid 2px;
}








/*
    PSEUDO CLASSES
*/













/*
    Comentário em CSS
*/

ul{
    list-style: square;
    color: red;

}

a{

    text-decoration: none;
    color: red;

}

/*
    Comentário em CSS
*/