body {
  box-sizing: border-box;
  padding: 0;
  margin: 0%;
  background-color: #ccc;
}

nav {
  padding: 15px;
  background-color: #888;
  text-align: center;
  box-shadow: 0 4px 8px rgba(53, 38, 38, 0.712);
  border: 1px solid;
  margin: 10px;
}

.title {
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 5px;
}

ul {
  display: flex;
  justify-content: center;
  text-decoration: none;
  list-style-type: none;
  justify-content: space-between;
  padding: 10px;
}

ul li {
  color: rgba(14, 158, 62, 0.781);
  letter-spacing: 5px;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: rgba(53, 43, 43, 0.555);
}

.services,
.main-imgs {
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.titles {
  padding: 5px;
  font-size: 35px;
  font-weight: 500;
  color: rgb(122, 153, 8);
}

.services-imgs,
.img-imgs {
  display: flex;
  margin-bottom: 90px;
  flex-wrap: wrap;
  justify-content: center;
}

img {
  margin: 15px;
  width: 40%;
  box-shadow: 2px 7px 14px rgba(39, 100, 180, 0.788);
}

/* img:last-child {
  margin-bottom: 40px;
} */

.contato {
  display: flex;
  text-align: center;
  height: 60vh;
  flex-direction: column;
}
.contato h2 {
  font-weight: 600;
  letter-spacing: 8px;
  border-bottom: solid rgba(39, 100, 180, 0.788);
  width: 45%;
  text-align: center;
  margin: 20px auto;
  font-size: 30px;
  padding-bottom: 30px;
  transition: all 0.2s;
}

.contato h2:hover {
  font-size: 45px;
}

.contato--content {
  display: flex;
  justify-content: center;
}

.contato--content-img {
  text-align: center;
}

.contato--content-img:not(:last-child) {
  margin-right: 50px;
}

.contato--img {
  border-radius: 15%;
  padding: 5px;
  width: 50px;
  height: 50px;
  transition: all 0.2s;
  cursor: pointer;
}

.contato--img:hover {
  box-shadow: 5px 10px 20px rgba(39, 100, 180, 0.85);
  transform: scaleX(1) scaleY(1);
  font-size: 30px;
}

.contato-text {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 2px;
  transition: font-size 0.2s;
}

.contato-text:hover {
}

footer {
}
